<h1 class="mb-4 text-3xl">My Calendar</h1>

<h3 class="mb-0 text-lg text-300">
  Here you can view all your scheduled lessons, whether you are a teacher or a
  student.
</h3>
<h3 class="mb-0 text-lg text-300">
  <span style="color: #e67e22">Orange </span> indicates lessons where you are
  the <strong>teacher</strong>.
</h3>
<h3 class="mb-2 text-lg text-300">
  <span style="color: #3788d8">Sky blue</span> indicates lessons where you are
  the <strong>student</strong>.
</h3>
<h3 class="mb-4 text-lg text-300">
  To cancel a lesson, simply click on it. A notification will be sent to both
  the teacher and the student to inform them of the cancellation.
</h3>

<full-calendar #calendar [options]="calendarOptions"> </full-calendar>

<div id="tooltipContainer">
  <div id="tooltip">
    <strong id="lesson_title"></strong> <br />
    <span>with: <strong id="partner" class="text-green-200 cursor-pointer	relative" matTooltip="Click to move to the profile"></strong></span>
  </div>
</div>
