<h2 mat-dialog-title>Forgot Password</h2>
<mat-dialog-content class="pt-2">
  <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="outline" class="w-full">
      <mat-label>Email Address</mat-label>
      <input matInput formControlName="email" required>
      <mat-error *ngIf="forgotPasswordForm.get('email')?.hasError('required')">
        Email is required
      </mat-error>
      <mat-error *ngIf="forgotPasswordForm.get('email')?.hasError('email')">
        Invalid email address
      </mat-error>
    </mat-form-field>

    <div class="text-red-500" *ngIf="errorMessage">{{ errorMessage }}</div>

    <div class="flex justify-content-between mt-4 w-full">
      <p-button
    type="submit"
    label="Send Link"
    [loading]="loading"
    [disabled]="forgotPasswordForm.disabled || loading"
  ></p-button>
        <p-button 
  label="Cancel" 
  [link]="true" 
  (onClick)="closeDialog()" 
  styleClass="text-white">
</p-button>
    </div>
  </form>
</mat-dialog-content>
<p-toast [life]="5000"></p-toast>

