<mat-drawer-container class="example-container" autosize>
  <mat-toolbar class="fixed z-5 navbar py-1" color="primary">
    <mat-toolbar-row>
      <span class="text-2xl">Vicher</span>
      <span class="example-spacer"></span>
      <button
        mat-flat-button
        class="btn"
        color="primary"
        *ngIf="!newService.isAuthenticated()"
        (click)="openLoginDialog()"
      >
        Login
      </button>
      <button
        mat-flat-button
        class="btn"
        color="primary"
        *ngIf="!newService.isAuthenticated()"
        (click)="openSignupDialog()"
      >
        Create New Account
      </button>
      <!-- notification box: -->
      <button
        mat-icon-button
        class="mr-3 p-0 pt-1"
        *ngIf="newService.isAuthenticated()"
        (click)="op.toggle($event)"
      >
        <i
          class="pi pi-bell"
          pBadge
          style="font-size: 30px"
          [value]="alerts.length.toString()"
        ></i>
      </button>
      <!-- <mat-select multiple > -->
      <p-overlayPanel #op [style]="{ width: '450px' }">
        <div *ngIf="alerts.length === 0">
          No notifications available at this time.
        </div>

        <div *ngFor="let alert of alerts">
          <!-- reminder: -->
          <button
            *ngIf="alert.startLesson && !alert.deleteLesson"
            mat-button
            class="btn-note text-yellow-200 h-7rem"
          >
            <span *ngIf="userId == alert.teacher_id"
              >Hello Teacher, just a reminder that your class is scheduled to
              start at {{ alert.myDate | date : "HH:mm" }}. Click below to start
              the lesson and connect with your student:
              <br />
              <a
                class="joinLesson"
                [href]="'/video-chat?_id=' + alert.lesson_id"
              >
                Join the Lesson
              </a></span
            >
            <span *ngIf="userId == alert.student_id"
              >Hello Student, this is a reminder that your class is scheduled to
              start at {{ alert.myDate | date : "HH:mm" }}. Click below to join
              your lesson and get ready:
              <br />
              <a
                class="joinLesson"
                [href]="'/video-chat?_id=' + alert.lesson_id"
              >
                Join the Lesson
              </a></span
            >
          </button>
          <!-- notifications:-->
          <button
            *ngIf="
              !alert.startLesson &&
              !alert.deleteLesson &&
              userId === alert.student_id &&
              alert.studentStatus != 'delete'
            "
            (click)="
              alert.studentStatus === 'unread'
                ? readNote(alert._id)
                : alert.studentStatus === 'read'
                ? deleteNote(alert._id)
                : deleteNote(alert._id)
            "
            [color]="
              alert.studentStatus === 'read'
                ? 'primary'
                : alert.studentStatus === 'unread'
                ? 'inherit'
                : 'inherit'
            "
            [ngStyle]="{
              color:
                alert.studentStatus === 'read'
                  ? 'grey'
                  : alert.studentStatus === 'unread'
                  ? 'white'
                  : 'white'
            }"
            [matTooltip]="
              alert.studentStatus === 'read'
                ? 'Tap to delete'
                : alert.studentStatus === 'unread'
                ? 'Tap to mark as read'
                : ''
            "
            mat-button
            class="btn-note"
          >
            Success! Your lesson has been scheduled. <br />
            We look forward to seeing you soon
          </button>
          <button
            *ngIf="
              !alert.startLesson &&
              !alert.deleteLesson &&
              userId === alert.teacher_id &&
              alert.teacherStatus != 'delete'
            "
            (click)="
              alert.teacherStatus === 'unread'
                ? readNote(alert._id)
                : alert.teacherStatus === 'read'
                ? deleteNote(alert._id)
                : deleteNote(alert._id)
            "
            [color]="
              alert.teacherStatus === 'read'
                ? 'primary'
                : alert.teacherStatus === 'unread'
                ? 'inherit'
                : 'inherit'
            "
            [ngStyle]="{
              color:
                alert.teacherStatus === 'read'
                  ? 'grey'
                  : alert.teacherStatus === 'unread'
                  ? 'white'
                  : 'white'
            }"
            [matTooltip]="
              alert.teacherStatus === 'read'
                ? 'Click to delete'
                : alert.teacherStatus === 'unread'
                ? ''
                : ''
            "
            mat-button
            class="btn-note"
          >
            New Lesson Alert: A student has scheduled a lesson with you. Check
            your calendar for details. Happy teaching!
          </button>
          <!-- attention -->
          <button
            *ngIf="
              alert.deleteLesson &&
              userId === alert.student_id &&
              alert.studentStatus != 'delete'
            "
            (click)="
              alert.studentStatus === 'unread'
                ? readNote(alert._id)
                : alert.studentStatus === 'read'
                ? deleteNote(alert._id)
                : deleteNote(alert._id)
            "
            [color]="
              alert.studentStatus === 'read'
                ? 'primary'
                : alert.studentStatus === 'unread'
                ? 'inherit'
                : 'inherit'
            "
            [ngClass]="{
              'text-yellow-800': alert.studentStatus === 'read',
              'text-yellow-200': alert.studentStatus !== 'read'
            }"
            [matTooltip]="
              alert.studentStatus === 'read'
                ? 'Tap to delete'
                : alert.studentStatus === 'unread'
                ? 'Tap to mark as read'
                : ''
            "
            mat-button
            class="btn-note"
          >
            Hello Student, We would like to inform you that the class scheduled
            for
            {{ alert.myDate | date : "dd/MM/yy HH:mm" }} at
            {{ alert.lesson_title }} has been canceled.
          </button>
          <button
            *ngIf="
              alert.deleteLesson &&
              userId === alert.teacher_id &&
              alert.teacherStatus != 'delete'
            "
            (click)="
              alert.teacherStatus === 'unread'
                ? readNote(alert._id)
                : alert.teacherStatus === 'read'
                ? deleteNote(alert._id)
                : deleteNote(alert._id)
            "
            [color]="
              alert.teacherStatus === 'read'
                ? 'primary'
                : alert.teacherStatus === 'unread'
                ? 'inherit'
                : 'inherit'
            "
            [ngClass]="{
              'text-yellow-800': alert.teacherStatus === 'read',
              'text-yellow-200': alert.teacherStatus !== 'read'
            }"
            [matTooltip]="
              alert.teacherStatus === 'read'
                ? 'Click to delete'
                : alert.teacherStatus === 'unread'
                ? ''
                : ''
            "
            mat-button
            class="btn-note"
          >
            Hello Teacher, We would like to inform you that the class scheduled
            for
            {{ alert.myDate | date : "dd/MM/yy HH:mm" }} at
            {{ alert.lesson_title }} has been canceled.
          </button>
        </div>
      </p-overlayPanel>

      <button
        mat-icon-button
        class="example-header-image"
        [style.background-image]="'url(' + userProfile.profileImage + ')'"
        *ngIf="newService.isAuthenticated()"
        (click)="drawer.open()"
      >
        <mat-icon>menu</mat-icon>
      </button>
    </mat-toolbar-row>
  </mat-toolbar>

  <!-- tab menu -->
  <mat-toolbar class="mt-7 p-0">
    <p-tabMenu
      class="tabMenu"
      [model]="items"
      (activeItemChange)="onActiveItemChange($event)"
    ></p-tabMenu>
  </mat-toolbar>

  <div class="py-7 px-3 sm:px-7">
    <router-outlet></router-outlet>
  </div>

  <mat-drawer
    #drawer
    class="example-sidenav"
    mode="over"
    position="end"
    *ngIf="newService.isAuthenticated()"
  >
    <mat-card class="example-card">
      <mat-card-header *ngIf="userProfile">
        <div
          mat-card-avatar
          class="example-header-image"
          [style.background-image]="'url(' + userProfile.profileImage + ')'"
        ></div>
        <div class="card-title-subtitle">
          <mat-card-title>{{ userProfile.name }}</mat-card-title>
          <mat-card-subtitle>{{ userProfile.email }}</mat-card-subtitle>
        </div>
        <button mat-icon-button (click)="drawer.close()">
          <mat-icon>close</mat-icon>
        </button>
      </mat-card-header>
    </mat-card>

    <button
      mat-button
      color="primary"
      class="menu-item"
      (click)="navigateToWelcomePage()"
    >
      <mat-icon>home</mat-icon>Home Page
    </button>
    <mat-divider class="divider"></mat-divider>
    <button
      mat-button
      color="primary"
      class="menu-item"
      (click)="navigateToUserProfile()"
    >
      <mat-icon>person</mat-icon>Your Profile
    </button>
    <mat-divider class="divider"></mat-divider>
    <button
      mat-button
      color="primary"
      class="menu-item"
      (click)="navToCalendar()"
    >
      <mat-icon>date_range</mat-icon>Calendar
    </button>
    <mat-divider class="divider"></mat-divider>
    <button
      mat-button
      color="primary"
      class="menu-item"
      (click)="navToAvailabilitySchedule()"
    >
      <mat-icon>access_time</mat-icon>Availability
    </button>
    <button
      mat-flat-button
      class="btn flex flex-1 mt-4 mx-auto"
      color="primary"
      *ngIf="newService.isAuthenticated()"
      (click)="this.newService.logout()"
    >
      <mat-icon>power_settings_new</mat-icon>Log Out
    </button>
  </mat-drawer>
</mat-drawer-container>
