.p-card-header {
  text-align: center;
}

.profileImage{
  border-radius: 50%;
  width: 50%;
}

.product-card{
background-color:var(--surface-900);
border:1px solid var(--surface-800);
border-radius:20px;
  // width: 220px;
  // height: 480px;
  width: 240px;
  height: 520px;
}

.header-image{
width: 100%;
height: 200px;
border-radius: 20px;
padding: 10px ;
}

.content-image {
background-size: cover;
margin: 0;
height: 32px;
width: 32px;
}

.fieldset{
  width: 100px;
}
.image9{
  position: relative;
  // top: 0;
  // left: 0;
  // z-index: -1; 
}
.div1 h2{
  position: absolute;
  // top: 0;
  left: 0;
}
.card{
  margin-top: 20px;
}

::ng-deep #p-carousel-center > *> *> * > * > *> *{
  display: flex;
  justify-content: center;
}

.product-footer {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.product-description {
  display: -webkit-box; /* Uses the WebKit box model for layout */
  -webkit-box-orient: vertical; /* Arranges child elements in a vertical direction */  
  -webkit-line-clamp: 6; /* Limits the paragraph to 6 lines */
  line-clamp: 6; /* Limits the paragraph to 6 lines */
  overflow: hidden; /* Hides content that exceeds the line limit */
  text-overflow: ellipsis; /* Adds ellipsis at the end */
  // word-wrap: break-word; /* Breaks long words */
  // hyphens: auto; /* Adds hyphenation to broken words */
}
.p-rating::after {
  content: '('attr(data-rater-counter)')';
  color: rgb(163, 171, 168);
}



