@import '../../styles.scss';

.p-card-header {
  text-align: center;
}

.profileImage{
  border-radius: 50%;
  width: 50%;
}

.product-card{
background-color:var(--surface-900);
border:1px solid var(--surface-800);
border-radius:20px;
width: 240px;
height: 520px;
}

.header-image{
width: 100%;
height: 200px;
border-radius: 20px;
padding: 10px ;
}

.content-image {
background-size: cover;
margin: 0;
height: 32px;
width: 32px;
}

.product-footer {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.description {
  display: -webkit-box; /* Uses the WebKit box model for layout */
  -webkit-box-orient: vertical; /* Arranges child elements in a vertical direction */  
  -webkit-line-clamp: 6; /* Limits the paragraph to 6 lines */
  line-clamp: 6; /* Limits the paragraph to 6 lines */
  overflow: hidden; /* Hides content that exceeds the line limit */
  text-overflow: ellipsis; /* Adds ellipsis at the end */
  // word-wrap: break-word; /* Breaks long words */
  // hyphens: auto; /* Adds hyphenation to broken words */
}
.p-rating::after {
  content: '('attr(data-rater-counter)')';
  color: rgb(163, 171, 168);
}

:host {
  font-family: 'Roboto', sans-serif;
}

.merinada {
  font-family: "Merienda", cursive;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  color: $primary;
}
.quattrocento-sans-regular {
  font-family: "Quattrocento Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}

::ng-deep .p-toolbar{
  width: 80% ;
}
@media (max-width: 499px) {
  ::ng-deep .p-toolbar {
    width: 100%; 
    padding: 1.25rem  0.7rem ;
  }
}

.cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr)); 
  gap: 16px; //space between cards
  place-items: center; 
}


::ng-deep .p-inputtext{
  border-color: $primary !important;
}

::ng-deep .p-autocomplete {
  display: flex;  
  width: 100%;
}

::ng-deep .p-autocomplete-input {
  flex-grow: 1;        
  width: 100% !important;  
}


.p-inputgroup-addon {
  background-color: transparent;   
  border: none;                  
}

.p-inputgroup .pi-search {
  color: #6c757d;  
}



h4{
color: $primary;
text-align: center;
align-items: center;
}

.accordion {
  text-align: center;
  align-items: center;
}


.accordion {
  display: flex;
  justify-content: center; /* Align horizontally in the center */
  align-items: center; /* Align vertically in the center */
  // height: 100vh; /* Full height of the viewport */
}

.custom-panel {
  width: 800px; /* Custom width of the panel */
  max-height: 800px; /* Custom maximum height */
  // overflow-y: auto; /* Allow scrolling if content exceeds height */
}
.oswald-sharp {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
::ng-deep .mat-typography h2{
  margin: 0 0 1px !important;
}


::ng-deep .ngx-pagination a {
  color: white !important;
}
::ng-deep .ngx-pagination a:hover {
  background-color: rgb(137, 133, 133) !important;
}

::ng-deep .ngx-pagination {
padding: 0;
}

::ng-deep .p-button.p-button-outlined{
  color: white !important;
}

:host ::ng-deep #clear>*:focus{
  box-shadow: none !important; 
}
:host ::ng-deep #clear >* {
  padding-right: 0.4rem !important;
  padding-left: 0.4rem !important;
}

