<!-- <h1>Hello {{userProfile.name}} !</h1> -->
<h1 class="mb-4 text-3xl">Availability Schedule</h1>

<h3 class="mb-2 text-lg text-300">
  Please set your weekly availability schedule by indicating the time slots you
  are free for lesson bookings. This will help students know when they can
  schedule their lessons with you.
</h3>
<h3 class="mb-2 text-lg text-300">
  To delete a time slot, simply click on it.
</h3>
<h3 class="mb-2 text-lg text-300">
  Don’t forget to click 'Save' to confirm your schedule.
</h3>
<h3 class="mb-4 text-lg text-300">
  For any exceptional events and specific dates when you are unavailable, please
  see the "Exceptional Events" section below the availability schedule.
</h3>

<full-calendar [options]="calendarOptions"> </full-calendar>

<h1 class="mb-4 mt-6 text-3xl">Exceptional Events</h1>

<h3 class="mb-4 text-lg text-300">
  If you have any one-time important events that will prevent you from holding
  lessons on specific days, please add them here. This will ensure that no
  lessons are scheduled during those times. Remember to specify the exact date
  and time of these events to avoid any conflicts in your schedule.
</h3>
<form [formGroup]="myForm" (ngSubmit)="createBusyEvent()">
  <fieldset class="border-500 border-round-md inline p-4 mb-6">
    <legend class="text-xl">Create busy event</legend>
    <div class="flex flex-column md:flex-row md:align-items-end">


      <div class="flex flex-column inline-block md:mr-4 md:mb-0 mb-4">
        <label for="nameEvent" class="font-bold block mb-1">
          How do you call your event?
        </label>
        <input type="text" pInputText maxlength="15" formControlName="nameEvent"/>
        <div class="error-container">
          <mat-error
            *ngIf="
              myForm.get('nameEvent').hasError('required') &&
              myForm.get('nameEvent').touched
            "
          >
          Name event is required
          </mat-error>
        </div>
      </div>


      <div class="flex flex-column inline-block">
        <label for="startDate" class="font-bold block mb-1">
          When your event starts?
        </label>
        <!-- [touchUI]="true" -->
        <p-calendar
          [(ngModel)]="startDate"
          inputId="startDate"
          formControlName="startDate"
          [minDate]="today"
          [maxDate]="endDate||lastDayOf3Month"
          [showIcon]="true"
          [showTime]="true"
        />
        <div class="error-container">
          <mat-error
            *ngIf="
              myForm.get('startDate').hasError('required') &&
              myForm.get('startDate').touched
            "
          >
            Start date is required
          </mat-error>
        </div>
      </div>
      <div class="flex flex-column md:mr-6 md:ml-4 mt-4 mb-5 md:my-0 md:mb-0">
        <label for="endDate" class="font-bold block mb-1">
          When your event ends?
        </label>
        <p-calendar
          [(ngModel)]="endDate"
          inputId="endDate"
          formControlName="endDate"
          [minDate]="startDate||today"
          [maxDate]="lastDayOf3Month"
          [showIcon]="true"
          [showTime]="true"
        />
        <div class="error-container">
          <mat-error
            *ngIf="
              myForm.get('endDate').hasError('required') &&
              myForm.get('endDate').touched
            "
          >
            End date is required
          </mat-error>
        </div>
      </div>
      <div class="flex flex-column">
        <p-button
          type="submit"
          label="Create busy event"
          [loading]="loading"
        ></p-button>
        <div class="error-container">
          <mat-error *ngIf="this.myForm.invalid"  class="error-message">{{ errorMessage }} </mat-error>
        </div>
      </div>
    </div>
  </fieldset>
</form>

<p-dataView #dv [value]="busyEvents">
  <ng-template let-busyEvent pTemplate="listItem">
    <div class="col-12">
      <div class="flex flex-column xl:flex-row xl:align-items-start p-4">
        <div
          class="flex flex-column sm:flex-row justify-content-between align-items-center xl:align-items-start flex-1 gap-4"
        >
<div class="flex flex-column font-bold sm:flex-row align-items-center ">
            <span class="mr-4 text-xl sm:mb-auto mb-4">{{ busyEvent.nameEvent }}</span>
            <span>{{ busyEvent.startDate | date : "MMM d, y, h:mm a" }}</span>
            <span class="m-2 sm:my-0">-</span> 
            <span>{{ busyEvent.endDate | date : "MMM d, y, h:mm a" }}</span>
</div>
          <div class="align-items-center">
            <button
              pButton
              icon="pi pi-trash"
              (click)="deleteBusyEvent(busyEvent._id)"
              matTooltip="Delete Item"
            ></button>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
</p-dataView>

<div class="card">
  <p-toast></p-toast>
</div>
