::ng-deep .p-card-header {
    text-align: center;
  }
  
  .profileImage{
    border-radius: 50%;
    width: 50%;
  }
  
  .product-card{
  background-color:var(--surface-900);
  border:1px solid var(--surface-800);
  height: 100%;

  }
  
  .header-image{
  width: 100%;
  height: 240px;
  border-radius: 20px;
  padding: 10px ;
  }
  
  .content-image {
  background-size: cover;
  margin: 0;
  height: 32px;
  width: 32px;
  }
  

  .product-description{
    width: 90%;
    margin: auto 5%;

  }
  
 ::ng-deep .p-inputnumber-input{
    width: 65px !important;
    background-color: var(--surface-900)!important;	

  }
  ::ng-deep .p-autocomplete-input {
    width: 150px ;
    margin-bottom: 24px;
    background-color: var(--surface-900);	

  }