
$primary: #c2185b;
$light-primary:#c3829c;
$dark-primary: darken($primary, 5%);

:root {
    --primary: #{$primary};
    --light-primary: #{$light-primary};
    --dark-primary: #{$dark-primary};
  }
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";
@import "/node_modules/primeflex/primeflex.css";

.custom-container >*>*>* {
    border-radius: 20px !important;
 }

.delete-item-dialog >*>*>*{
padding: 20px;
width: '300px';
height: '250px';
}
.delete-item-dialog p-button{
    margin: 10px;
}

