<div *ngIf="userProfile" class="flex flex-wrap">
  <!-- left box -->
  <div class="flex flex-1 flex-column align-items-center lg:flex-none">
    <p-card
      class="p-card-header"
      header="{{ userProfile.name }}"
      subheader="{{ userProfile.email }}"
      [style]="{
        width: '360px',
        backgroundColor: 'var(--surface-900)',
        border: '1px solid var(--surface-800)'
      }"
    >
      <p-rating
        class="p-rating mb-3"
        [(ngModel)]="rating"
        matTooltip="Available after lesson participation"
        [readonly]="true"
        [cancel]="false"
        [attr.data-rater-counter]="userProfile.raterCounter"
      ></p-rating>
      <ng-template pTemplate="header">
        <img
          class="profileImage mt-5"
          [src]="userProfile.profileImage"
          alt="User Profile"
        />
      </ng-template>
      <p-card
        class="contant"
        contant
        [style]="{ backgroundColor: 'var(--surface-800)' }"
      >
        <div>
          <p *ngIf="!userProfile.description" class="text-400">
            The user has not yet provided a personal description.
          </p>
          <p class="user-description">{{ userProfile.description }}</p>
        </div>
      </p-card>
    </p-card>

    <!-- My latest Projects -->
    <p-card
      class="p-card-header mt-7 mb-7 lg:mb-0"
      header="My latest Projects"
      [style]="{
        width: '360px',
        backgroundColor: 'var(--surface-900)',
        border: '1px solid var(--surface-800)'
      }"
    >
      <p-card
        class="contant"
        contant
        [style]="{ backgroundColor: 'var(--surface-800)' }"
      >
      </p-card>
    </p-card>
  </div>

  <!-- right box -->
  <div
    class="flex flex-1 flex-column align-items-center lg:ml-7"
    [style]="{ width: '50%' }"
  >
    <!-- cards of products: -->
    <p-carousel
    *ngIf="productsArray.length >0"
    id="p-carousel-center"
      class=" lg:mx-7"
      [value]="productsArray"
      [numVisible]="productsArray.length < 3 ? productsArray.length : 3"
      [numScroll]="1"
      [circular]="true"
      [responsiveOptions]="productsArray.length > 1 ?responsiveOptions : null"
    >
      <ng-template let-product pTemplate="item">
        <mat-card class="product-card m-3" (click)="openDailyPlanner(product)">
          <mat-card-header class="flex flex-column p-0">
            <img
              class="header-image"
              [src]="product.image.src"
              width="250px"
              alt="{{ product.image.filename }}"
            />
            <div class="flex px-2">
              <div
                mat-card-avatar
                class="content-image"
                [style.background-image]="
                  'url(' + product.userProfileImage + ')'
                "
              ></div>
              <mat-card-title class="text-sm ml-2 font-italic">
                <span class="text-400">Ad by </span>
                {{ product.userProfileName }}</mat-card-title
              >
            </div>
          </mat-card-header>
          <mat-card-content class="p-3">
            <mat-card-title>{{ product.lesson_title }}</mat-card-title>
            <div class="flex flex-row justify-content-between">
              <mat-card-subtitle
                ><i class="pi pi-tag text-sm"></i>
                {{ product.category }}</mat-card-subtitle
              >
              <span class="font-bold text-100">{{
                "₪ " + " " + product.price
              }}</span>
            </div>
            <mat-card-subtitle
              >lesson length: {{ product.length }} min.</mat-card-subtitle
            >
          </mat-card-content>
          <mat-card-footer class="px-3 product-footer">
            <p class="product-description">
              {{ product.description }}
            </p>

          </mat-card-footer>
        </mat-card>
      </ng-template>
    </p-carousel>
  </div>

  <div class="card">
    <p-toast [life]="5000"></p-toast>
  </div>
</div>
