
<!-- stepper -->
<mat-stepper linear
  class="example-stepper" 
  >
  <mat-step  [completed]="appointmentGuid==2" label="Choose a date">
    <div class="px-2">
    <p class="text-100">First, please select a preferred available date on the calendar</p>

    <full-calendar #calendar [options]="calendarOptions" class=" lg:mx-8 md:mx-5 mx-0">
    </full-calendar>
    <div class="flex justify-content-end">
      <button [disabled]="appointmentGuid!=2"  mat-raised-button color="primary" matStepperNext>Next</button>
    </div>
  </div>
  </mat-step>
  <mat-step  [completed]="selectedLesson" label="Choose a time">
    <div class="px-2">
    <p class="text-100">Now, choose a desired time from the available time slots</p>

      <h1 *ngIf="isTaken" class="text-base text-white">
        there is no open lessons for this date.
      </h1>
      <ng-container *ngFor="let timeRange of timeRanges">
        <ng-container *ngIf="areThereLessonsInTimeRange(timeRange)">
          <p class="text-100">{{ timeRange }}</p>
          <mat-chip-listbox>
            <ng-container *ngFor="let lesson of lessonsArray">
              <ng-container *ngIf="getTimeOfDay(lesson) === timeRange">
                <mat-chip-option
                  (click)="choosingTime(lesson)"
                  [selected]="isSelected(lesson)"
                >
                  {{ lesson }}
                </mat-chip-option>
              </ng-container>
            </ng-container>
          </mat-chip-listbox>
          <br />
        </ng-container>
      </ng-container>
      <div class="flex justify-content-end">
        <button mat-button  matStepperPrevious>Back</button>
        <button [disabled]="!selectedLesson" mat-raised-button color="primary" matStepperNext>Next</button>
      </div>
    </div>
  </mat-step>
  <mat-step   label="Save date">
    <div class="px-2">
    <!-- <ng-template matStepLabel>Save date</ng-template> -->

    <p class="text-100">Finally, click on 'Save Date' to confirm the appointment.</p>
    <p-button
    (click)="createLesson()"
    *ngIf="!(this.lessonsArray.length == this.comparisonArray.length)"
    >Save Date</p-button
  >    <div class="flex justify-content-end">
      <button mat-button matStepperPrevious>Back</button>
    </div>
  </div>
  </mat-step>
</mat-stepper>
